<div class="jumbotron jumbotron-fluid">
    <div class="container my-3">
        <h1 class="display-4">About Todo</h1>
        <h2 class="lead">Stay Organized, Stay Productive</h2>
        <p>Our to-do list app is designed to help you manage tasks effortlessly.<br>
         Whether you need to track daily chores, work projects, or personal goals, our intuitive interface keeps everything organized.
        </p>
        <p>Stay on top of your tasks and boost productivity with ease!</p>

    </div>
</div>