<div class="my-3">
<h3>Add a Todo</h3>

<div>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="title" class="form-control"  aria-describedby="title">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" id="desc" name="desc" [(ngModel)]="desc" class="form-control" >
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>

</div>

</div>